<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Bus Ticketing</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <script src="index.js"></script>
     </head>
    <body>
       <div class="main"></div>
       <div class="navbar">
        <h1>EaseTravel</h1>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">How to book ticket?</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="{%url 'logout'%}">Logout</a></li>
            <li><a href="{%url 'register'%}">register</a></li>
       </div>
       <div class="slogan">
        <h2>Travel with Ease</h2>
        <p>Let's book your tickets, relaxing from your couch<br>using EaseTravel</p>
        <div>
            <button class="button"><span></span>Book Tickets</button>
        </div>
       </div>
    </body>
</html>