@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
    --header-height: 3rem;
    --font-semi: 600;
    /*===== Colors =====*/
    /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
    /* HSL color mode */
    --hue-color: 224;
    --first-color: hsl(var(--hue-color), 89%, 60%);
    --second-color: hsl(var(--hue-color), 56%, 12%);
    /*===== Font typography =====*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    /*===== Margins =====*/
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*===== z index =====*/
    --z-back: -10;
    --z-fixed: 100;
}

/* Body styles */
body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    overflow-y: auto; /* Set overflow-y to auto for vertical scrollbar */
    overflow-x: hidden; /* Set overflow-x to hidden to hide horizontal scrollbar */
}

/* Main container styles */
.main {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('/static/images/bgs.jpg'); */
    height: 200vh;
    width: 110%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color:#ffffff;
    min-height: 100vh;
}

/* Logo container styles */
.logo-container {
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 1000;
}

/* Logo styles */
.logo {
    max-width: 225px;
    height: auto;
}

/* Navigation bar styles */
.navbar {
    width: 85%;
    margin: auto;
    padding: 38px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 140px;
}

/* Navigation link styles */
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    position: relative;
    font-size: 20.3px;
    text-shadow: 0 4px 8px rgb(29, 29, 29);
}

/* Navigation link hover styles */
.navbar ul li a:hover {
    color: #04AA6D;
}
/* Styling for navigation links */
.navbar ul li a {
    text-decoration: none;
    color: #0e0e0e;
    transition: color 0.5s;
}

/* Navigation link underline styles */
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #14b97c;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

/* Navigation link underline on hover styles */
.navbar ul li:hover::after {
    width: 100%;
}

/* Grey panel styles */
.grey-panel {
    background-color: #ffffff;
    position: absolute;
    top: 180px;
    left: 158px;
    width: 77%;
    height: 9%;
    padding: 10px;
    border-radius: 20px;
}

/* City dropdown styles */
#cityDropdown {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #0e0e0e;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #ffffff;
}

/* Footer panel styles */
.footer-panel {
    width: 100%;
    text-align: center;
    padding: 7px;
    position: fixed;
    
    left: 0;
    height: 40px;
    background-color:#0e0e0e;
    /* position: absolute; */
    /* bottom: -137px; */
    bottom: 0;
    width: 100%;
    padding-bottom: -10px;
}

/* Footer text styles */
.footer-panel p {
    color:white;
    margin: 5px 0;
}
/* Select box styles for 'From' */
.custom-select[name="from_location"] {
    background-color:#ffffff; /* Transparent black background */
    color: black; /* Set the text color to make it visible on the dark background */
    font-size: 18px;
    border-color: black;
    border-radius: 16px;

}

/* Select box styles for 'To' */
.custom-select[name="to_location"] {
    background-color:#ffffff;
    color: black; /* Set the text color to make it visible on the dark background */
    font-size: 18px;
    border-color: black;
    border-radius: 16px;
}

/* Date input styles */
.custom-date {
    background-color:#ffffff;
    color: black; /* Set the text color to make it visible on the dark background */
    font-size: 18px;
    border-color: black;
    border-radius: 16px;
}
/* Select box styles for 'From' */
.custom-select[name="from_location"]:focus {
    border: 2px solid #04AA6D; /* Set the border color when the box is clicked */
}

/* Select box styles for 'To' */
.custom-select[name="to_location"]:focus {
    border: 2px solid #04AA6D; /* Set the border color when the box is clicked */
}
.custom-date::-webkit-calendar-picker-indicator {
    color: #ffffff;
    font-size: 18px;
    border-color: #ffffff;
}

/* Date input styles */
.custom-date:focus {
    border: 2px solid #04AA6D; /* Set the border color when the box is clicked */
}
/* Search button styles */
.search-button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: all .3s;
    border: none;
    cursor: pointer;
    width: 180px;
    height: 50px;
    border-radius: 20px;
}

.search-button:hover {
    box-shadow: rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 56px, rgba(17, 17, 26, 0.3) 0px 24px 80px;
    background-color: var(--second-color);

}
/* Black panel styles */
.black-panel1 {
    position: absolute;
    top: 290px;
    left: 158px;
    width: 50%;
    height: auto; /* Allow height to adjust based on content */
    background-color: #e5e5e5;
    border-radius: 24px;
    border: 2px solid black; /* This line sets the border */
    display: none;
    /* Add transition for a smooth effect */
    transition: background-color 0.3s;   
}

  .black-panel1 .panel-text {
    color:#0e0e0e;
    font-size: 18px;
    margin: -5px;
    top: 25px;
  }
  .black-panel1 .p1 {
    margin-top: 8px;
    font-size: 19px;
    color:#0e0e0e;
    position: relative;
    margin-left: 2px;
    


  }
  
  .black-panel1 .p2 {
    position: relative;
    top: -10px;
    margin-left: 2px;
    font-size: 19px;
    top: 25px;
    
    
  }
  
  .black-panel1 .p3 {
    position: relative;
    top: 39px;
    margin-left: 297px;
    font-size: 21px;
  }
  
  .black-panel1 .p4 {
    margin-left: 543px;
    position: relative;
    top: -38px;
    font-size: 17px;
  }
  
  .black-panel1 .p5 {
    margin-left: 543px;
    position: relative;
    top: -25px;
    font-size: 17px;
  }
  
  .black-panel1 .p6 {
    margin-left: 543px;
    position: relative;
    top: -12px;
    font-size: 17px;
  }
  
  .black-panel1 .p7 {
    margin-left: 543px;
    position: relative;
    top: 0px;
    font-size: 17px;
    color:blue;
  }

.black-panel2 {
    position: absolute;
    top: 400px;
    left: 158px;
    width: 50%;
    height: 11%;
    background-color:#0e0e0e;
    border-radius: 12px;
}
.black-panel3 {
    position: absolute;
    top: 500px;
    left: 158px;
    width: 50%;
    height: 11%;
    background-color:#0e0e0e;
    border-radius: 12px;
}
.black-panel4 {
    position: absolute;
    top: 600px;
    left: 158px;
    width: 50%;
    height: 11%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}


/* Adjust spacing between date input and search button */
.custom-date {
    margin-right: 100px;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    z-index: -1; /* Place the overlay behind the grey panel content */
}
/* Text styles for black panel */
.black-panel2 .panel-text {
    color: #ffffff; /* Text color */
    font-size: 18px;
    margin: 10px;
}

/* Adjust positions of each panel text */
.black-panel2 .p1 {
    margin-top: 14px;
    font-size: 17px;
}

.black-panel2 .p2 {
    font-size: 17px;
    
}

.black-panel2 .p3 {
    position: relative;
    top: -40px;
    margin-left: 300px;
    font-size: 18px;
}

.black-panel2 .p4 {
    margin-left: 610px;
    position: relative;
    top: -100px;
    font-size: 16px;
}
.black-panel2 .p5 {
    margin-left: 610px;
    position: relative;
    top: -110px;
    font-size: 16px;
}
.black-panel2 .p6{
    margin-left: 610px;
    position: relative;
    top: -120px;
    font-size: 16px;
}
.black-panel2 .p7 {
    margin-left: 610px;
    position: relative;
    top: -130px;
    font-size: 16px;
    color: #04AA6D;
}
/* Text styles for black panel */
.black-panel3 .panel-text {
    color: #ffffff; /* Text color */
    font-size: 18px;
    margin: 10px;
}

/* Adjust positions of each panel text */
.black-panel3 .p1 {
    margin-top: 14px;
    font-size: 17px;
}

.black-panel3 .p2 {
    font-size: 17px;
}

.black-panel3 .p3 {
    position: relative;
    top: -40px;
    margin-left: 300px;
    font-size: 18px;
}

.black-panel3 .p4 {
    margin-left: 610px;
    position: relative;
    top: -100px;
    font-size: 16px;
}
.black-panel3 .p5 {
    margin-left: 610px;
    position: relative;
    top: -110px;
    font-size: 16px;
}
.black-panel3 .p6{
    margin-left: 610px;
    position: relative;
    top: -120px;
    font-size: 16px;
}
.black-panel3 .p7 {
    margin-left: 610px;
    position: relative;
    top: -130px;
    font-size: 16px;
    color: #04AA6D;
}
/* Text styles for black panel */
.black-panel4 .panel-text {
    color: #ffffff; /* Text color */
    font-size: 18px;
    margin: 10px;
}

/* Adjust positions of each panel text */
.black-panel4 .p1 {
    margin-top: 14px;
    font-size: 17px;
}

.black-panel4 .p2 {
    font-size: 17px;
}

.black-panel4 .p3 {
    position: relative;
    top: -40px;
    margin-left: 300px;
    font-size: 18px;
}

.black-panel4 .p4 {
    margin-left: 615px;
    position: relative;
    top: -100px;
    font-size: 16px;
}
.black-panel4 .p5 {
    margin-left: 610px;
    position: relative;
    top: -110px;
    font-size: 16px;
}
.black-panel4 .p6{
    margin-left: 610px;
    position: relative;
    top: -120px;
    font-size: 16px;
}
.black-panel4 .p7 {
    margin-left: 610px;
    position: relative;
    top: -130px;
    font-size: 16px;
    color: #04AA6D;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
   /* #customers tr:nth-child(even){background-color: #f2f2f2;} 
   #customers tr:nth-child(odd){background-color: #f2f2f2;} */

  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #04AA6D; */
    color: white;
  }


  .route-info {
    
    text-decoration: none; /* Remove the default underline for the anchor tag */
    display: block; /* Make the anchor tag a block element to take the full width */
    padding: 5px; /* Add padding for better aesthetics */
    border-bottom: 2px solid black;
    border-radius: 24px;   
}

.route-info:hover {
    /* Change the background color on hover for route-info elements */
    background-color: var(--first-color);
    /* Change this to the desired color */
    color: #ffffff;
}

.black-panel1:hover .panel-text {
    color: white;
}


.panel-text.p1:hover strong {
    color: white/* Your desired text color after hovering */;
}

.panel-text p1{

    color: black;

}

