body {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)), url('/static/images/bg.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;

font-family: Arial, sans-serif;
/* background-color: #f4f4f4; */
margin: 0;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}
label{
color: white;
size: 15px;
}

.registration-container h2 {
    text-align: center;
    color: white ;
}


.login-container {
background-color: none;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 300px;
text-align: center
bold;
}



form {
display: flex;
flex-direction: column;
}

label {
margin-bottom: 8px;
border: bold;
}

input {
padding: 8px;
margin-bottom: 16px;
border: 1px solid #ccc;
border-radius: 4px;
border-block: bold;
}



button {
padding: 10px;
background-color: #3d91ff;
color: #fff;
border: none;
border-radius: 17px;
border-block: bold;
cursor: pointer;
font-size: 18px;
font-weight: bold;
display: block;
margin: auto;

}

button:hover {
background-color: #0056b3;
}

.form-group .register-text{
    color: white;
    justify-content: center;
}