.test {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;
}

.ticket {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 24px;
    box-shadow:-12px -5px 20px 11px rgb(0 0 0 / 10%);
    text-align: start;
}

.ticket-header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.passenger-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 178px;
    text-align: left;

}

.info-label {
    color: #7f8c8d;
    font-size: 14px;
    margin-bottom: 5px;
}

.info-value {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.barcode {
    margin-top: 20px;
}