/* Reset styles */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Body styles */
body {
    overflow: hidden;
}

/* Main container styles */
.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('/media/image.webp');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* Logo container styles */
.logo-container {
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 1000;
}

/* Logo styles */
.logo {
    max-width: 219px;
    height: auto;
}

/* Navigation bar styles */
.navbar {
    width: 85%;
    margin: auto;
    padding: 38px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 140px;
}

/* Navigation link styles */
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    position: relative;
    font-size: 20.3px;
    text-shadow: 0 4px 8px rgb(29, 29, 29);
}

/* Navigation link hover styles */
.navbar ul li a:hover {
    color: #04AA6D;
}
/* Styling for navigation links */
.navbar ul li a {
    text-decoration: none;
    color: #f2f2f2;
    transition: color 0.5s;
}

/* Navigation link underline styles */
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #14b97c;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

/* Navigation link underline on hover styles */
.navbar ul li:hover::after {
    width: 100%;
}

/* Grey panel styles */
.grey-panel {
    background-color: rgba(106, 106, 106, 0.6);
    position: absolute;
    top: 180px;
    left: 158px;
    width: 77%;
    height: 9%;
    padding: 10px;
}

/* City dropdown styles */
#cityDropdown {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: #0e0e0e;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #ffffff;
}

/* Footer panel styles */
.footer-panel {
    width: 100%;
    text-align: center;
    padding: 7px;
    position: fixed;
    bottom: -20px;
    left: 0;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Footer text styles */
.footer-panel p {
    color: #b4b4b4;
    margin: 5px 0;
}
/* Select box styles for 'From' */
.custom-select[name="from"] {
    background-color:rgba(0, 0, 0, 0.5); /* Transparent black background */
    color: #ffffff; /* Set the text color to make it visible on the dark background */
    font-size: 18px;
    border-color: #ffffff;
}

/* Select box styles for 'To' */
.custom-select[name="to"] {
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    color: #ffffff; /* Set the text color to make it visible on the dark background */
    font-size: 18px;
    border-color: #ffffff;
}

/* Date input styles */
.custom-date {
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    color: #ffffff; /* Set the text color to make it visible on the dark background */
    font-size: 18px;
    border-color: #ffffff;
}
/* Select box styles for 'From' */
.custom-select[name="from"]:focus {
    border: 2px solid #04AA6D; /* Set the border color when the box is clicked */
}

/* Select box styles for 'To' */
.custom-select[name="to"]:focus {
    border: 2px solid #04AA6D; /* Set the border color when the box is clicked */
}

/* Date input styles */
.custom-date:focus {
    border: 2px solid #04AA6D; /* Set the border color when the box is clicked */
}
/* Search button styles */
.search-button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 20px;
    width: 150px;
    height: 47px;
    border: #ffffff;
    border-radius: 5px;
}
/* Black panel styles */
.black-panel {
    position: absolute;
    top: 180px;
    left: 158px;
    width: 77%;
    height: 9%;
    background-color: rgba(0, 0, 0, 0.5);
}


/* Adjust spacing between date input and search button */
.custom-date {
    margin-right: 100px;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    z-index: -1; /* Place the overlay behind the grey panel content */
}
