<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Booking</title>
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
</head>

<body>
    <!-- Main container -->
    <div class="main">
        <!-- Logo container -->
        <div class="logo-container">
            <!-- Logo image -->
            <img src='/media/logo.png' alt="Logo" class="logo">
        </div>

        <!-- Navigation bar -->
        <div class="navbar">
            <!-- Navigation links -->
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'home' %}">About</a></li>
                <li><a href="{% url 'home' %}">How to book ticket?</a></li>
                <li><a href="{% url 'home' %}">Services</a></li>
            </ul>
        </div>

        <!-- Grey panel for selection and date -->
        <div class="grey-panel">
            <!-- Selection container -->
            <div class="select-container">
                <form action ="{% url 'route' %}", method='POST' >
                    {% csrf_token %}

                    <!-- Select box for 'From' -->
                <select class="custom-select" style="width: 200px; height: 47px; margin-left: 20px;  margin-top: 10px;" name="from_location" required>
                    <option value="" disabled selected hidden>From</option>
                    {%for route in locations%}
                    <option value="{{route}}">{{route}}</option>
                    {%endfor%}
                </select>

                <!-- Select box for 'To' -->
                <select class="custom-select" style="width: 200px; height: 47px; margin-left: 100px;" name="to_location" required>
                    <option value="" disabled selected hidden>To</option>
                    {%for route in locations%}
                    <option value="{{route}}">{{route}}</option>
                    {%endfor%}
                </select>

                <!-- Date input -->
                <input type="date" class="custom-date" style="width: 200px; height: 47px; margin-left: 100px;" name="departure_time" required>
                <button class="search-button" type="submit">Search</button>
                </form>
                
            </div>

          

            <!-- Footer panel -->
            <div class="footer-panel">
                <!-- Footer text -->
                <p>&copy; 2023 SuvaYatra. All rights reserved.</p>
            </div>
        </div>
    </div>
</body>

</html>
