<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Booking</title>
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
</head>

<body>
    <!-- Main container -->
    <div class="main">
        <!-- Logo container -->
        <div class="logo-container">
            <!-- Logo image -->
            <img src='/media/logo.png' alt="Logo" class="logo">
        </div>

        <!-- Navigation bar -->
        <div class="navbar">
            <!-- Navigation links -->
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'home' %}">About</a></li>
                <li><a href="{% url 'home' %}">How to book ticket?</a></li>
                <li><a href="{% url 'home' %}">Services</a></li>
            </ul>
        </div>

        <!-- Grey panel for selection and date -->
        <div class="grey-panel">
            <!-- Selection container -->
            <div class="select-container">
                <form action="{% url 'route' %}" method='POST'>
                    {% csrf_token %}

                    <!-- Select box for 'From' -->
                    <select class="custom-select" style="width: 200px; height: 47px; margin-left: 20px;  margin-top: 10px;"
                        name="from_location">
                        <option value="" disabled selected hidden>From</option>
                        {% for route in locations %}
                        <option value="{{route}}">{{route}}</option>
                        {% endfor %}
                    </select>

                    <!-- Select box for 'To' -->
                    <select class="custom-select" style="width: 200px; height: 47px; margin-left: 100px;"
                        name="to_location" >
                        <option value="" disabled selected hidden>To</option>
                        {% for route in locations %}
                        <option value="{{route}}">{{route}}</option>
                        {% endfor %}
                    </select>

                    <!-- Date input -->
                    {% comment %} <input type="date" class="custom-date" style="width: 200px; height: 47px; margin-left: 100px;" {% endcomment %}
                        {% comment %} name="departure_time" required> {% endcomment %}
                        <input type="datetime-local" id="departure_time" name="departure_time" class="custom-date" style="width: 200px; height: 47px; margin-left: 100px;" required>
                    <button class="search-button" type="submit">Search</button>
                </form>
            </div>
        </div>

<!-- Black panel below grey panel -->

<div class="black-panel1">

{% if routes %}
    <table id="customers" >
        <tr>

          <th>Route Name</th>
          <th>Bus Number</th>
          <th>Location</th>
          <th>Time</th>
          <th>Total Seats</th>
          <th>Available Seats</th>
          <th>Fare</th>
        </tr>

        {% for route in routes %}
        <tr>
            <td> {{route.route.route_name}}</td>
            <td> {{route.bus.bus_number}}</td>
            <td> {{route.route.from_location}}-{{route.route.to_location}}</td>
            <td> {{route.departure_time}}</td>
            <td> {{route.bus.total_seat}}</td>
            <td> {{route.available_seats}}</td>
            <td> {{route.route.price}}</td>

          </tr>
        {% endfor %}
      </table>
{%else%}
    <p>Search Bus</p>
{% endif %}
</div>



        <!-- Footer panel -->
        <div class="footer-panel">
            <!-- Footer text -->
            <p>&copy; 2023 SuvaYatra. All rights reserved.</p>
        </div>
    </div>
</body>

</html>