<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Booking</title>
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
</head>

<body>
    <!-- Main container -->
    <div class="main">
        <!-- Logo container -->
        <div class="logo-container">
            <!-- Logo image -->
            <img src='/static/images/logo.png' alt="Logo" class="logo">
        </div>

        <!-- Navigation bar -->
        <div class="navbar">
            <!-- Navigation links -->
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'home' %}">About</a></li>
                <li><a href="{% url 'home' %}">How to book ticket?</a></li>
                <li><a href="{% url 'home' %}">Services</a></li>
            </ul>
        </div>

        <!-- Grey panel for selection and date -->
        <div class="grey-panel">
            <!-- Selection container -->
            <div class="select-container">
                <form action="{% url 'route' %}" method='POST'>
                    {% csrf_token %}

                    <!-- Select box for 'From' --> 
                    <select class="custom-select" style="width: 200px; height: 47px; margin-left: 20px;  margin-top: 10px;" required
                        name="from_location">
                        <option value="" disabled selected hidden>From</option>
                        {% for route in locations %}
                        <option value="{{route}}">{{route}}</option>
                        {% endfor %}
                    </select>

                    <!-- Select box for 'To' -->
                    <select class="custom-select" style="width: 200px; height: 47px; margin-left: 100px;" required
                        name="to_location" >
                        <option value="" disabled selected hidden>To</option>
                        {% for route in locations %}
                        <option value="{{route}}">{{route}}</option>
                        {% endfor %}
                    </select>

                    <!-- Date input -->
                    <input type="date" id="departure_time" name="departure_time" class="custom-date" style="width: 200px; height: 47px; margin-left: 100px;" required>
                    <button class="search-button" type="submit">Search</button>
                </form>
            </div>
        </div>
<!-- Black panel below grey panel -->
<div class="black-panel1" id="search-results-panel">
    {% if routes %}
        {% for route in routes %}
            <div class="route-info">
                <p class="panel-text p1">
    
                    <strong style="color:black;">Route Name:</strong> 
                    <a href="{% url 'seats' route.id %}" style="color:black;">{{ route.route.route_name }}</a>
                </p>
                <p class="panel-text p3"><strong>Bus Number:</strong> {{ route.bus.bus_number }}</p>
                <p class="panel-text p2"><strong>Location:</strong> {{ route.route.from_location }}-{{ route.route.to_location }}</p>
                <p class="panel-text p4"><strong>Time:</strong> {{ route.departure_time }}</p>
                <p class="panel-text p5"><strong>Total Seats:</strong> {{ route.bus.total_seat }}</p>
                <p class="panel-text p6"><strong>Available Seats:</strong> {{ route.available_seats }}</p>
                <p class="panel-text p7"><strong>Fare:</strong> {{ route.route.price }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No routes found.</p>
    {% endif %}
</div>


        <!-- Footer panel -->
        <div class="footer-panel">
            <!-- Footer text -->
            <p>&copy; 2023 SuvaYatra. All rights reserved.</p>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var searchResultsPanel = document.getElementById('search-results-panel');
            {% if routes %}
                searchResultsPanel.style.display = 'block';
            {% endif %}
        });
    </script>
</body>
</html>
