<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passenger Details</title>
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
    
</head>

<body>
    <div class="scroll-container">
        <!-- Main container -->
        <div class="main">
            <!-- Logo container -->
            <div class="logo-container">
                <!-- Logo image -->
                <img src='/static/images/logo.png' alt="Logo" class="logo">
            </div>

            <!-- Navigation bar -->
            <div class="navbar">
                <!-- Navigation links -->
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'home' %}">About</a></li>
                    <li><a href="{% url 'home' %}">How to book ticket?</a></li>
                    <li><a href="{% url 'home' %}">Services</a></li>
                </ul>
            </div>

        
            <div class="passenger-details">
                <h2>Passenger Details</h2>
                <span id="passenger-id" hidden>{{passenger_details.id}} </span>
                <div class="details-section">
                    <p>Name: {{ passenger_details.name }}</p>
                    <p>Contact No: {{ passenger_details.contact }}</p>
                </div>
                <div class="details-section">
                    <p>Seat No (Departure): 
                        {% for seat in seat_numbers %}
                            {{ seat.seat_number }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p>Departure Date: {{ passenger_details.schedule.departure_time.date }}</p>                  
                </div>
                <div class="details-section">
                    <p>Date/Time: {{ passenger_details.schedule.departure_time.time }}</p>              
                    <p>Pickup Point: {{ passenger_details.schedule.route.from_location }} ({{ passenger_details.schedule.departure_time.time }})</p>
                </div>
                <div class="details-section">
                    <p>Dropping Point: {{passenger_details.schedule.route.to_location }}</p>
                </div>

                <div class="details-section1">
                    <!-- Add the total price per seat with green color -->
                    <p>Total Price per Seat: {{passenger_details.schedule.route.price }}</p>
                </div>
                
                <div class="divider"></div>
                <div class="details-section">
                    <p>Total Fare: <span id="total_price">{{total_price }}</span></p>
                </div>
                <div class="note-section">
                    <p>**** Note if you get a pending message from Bank/Khalti or if your transaction is completed but if you don't get a ticket, then please contact our operator.</p>
                    <p>**** Please ensure that you will be redirected to our website after the payment is done.</p>
                    <p>**** Please note your ticket will be confirmed once payment is received at our end. If you are having a problem with payment, please contact our operator.</p>
                </div>
                

    
                <div class="khaltilogo">
                    <img class="khalti" id="payment-button" src='/static/images/khalti.jpg' alt="Pay with Khalti">
                </div>
                
                    <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

                    <script>
                        function verifyPayment(payload){
                            const passenger_id= parseInt(document.getElementById("passenger-id").innerText)
                            $.ajax({
                                url: `/backend/api/verify_payment/${passenger_id}/`,
                                type: "POST",
                                data: payload,
                                dataType: 'json',
                                sucess: function (response) {alert(response)},
                                error: function (error) {alert(error.responseJSON['message'])}
                            });
                        }


                        var config = {
                            // replace the publicKey with yours
                            "publicKey": "test_public_key_11bc2e57406d437ca08a84a1bc30ddd2",
                            "productIdentity": "1234567890",
                            "productName": "Dragon",
                            "productUrl": "http://gameofthrones.wikia.com/wiki/Dragons",
                            "paymentPreference": [
                                "KHALTI",
                                "EBANKING",
                                "MOBILE_BANKING",
                                "CONNECT_IPS",
                                "SCT",
                                ],
                            "eventHandler": {
                                onSuccess (payload) {
                                    // hit merchant api for initiating verfication
                                    console.log(payload);
                                    verifyPayment(payload)
                                },
                                onError (error) {
                                    console.log(error);
                                },
                                onClose () {
                                    console.log('widget is closing');
                                }
                            }
                        };
                
                        var checkout = new KhaltiCheckout(config);
                        var btn = document.getElementById("payment-button");
                        btn.onclick = function () {
                            console.log(document.getElementById("total_price").innerText, "Hello")
                            // minimum transaction amount must be 10, i.e 1000 in paisa.
                            checkout.show({amount: parseInt(document.getElementById("total_price").innerText) })*100;
                            
                        }
                    </script>
            
        </div>
    </div>
    
</body>

</html>
