<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passenger Details</title>
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
    
</head>

<body>
    <div class="scroll-container">
        <!-- Main container -->
        <div class="main">
            <!-- Logo container -->
            <div class="logo-container">
                <!-- Logo image -->
                <img src='/media/logo.png' alt="Logo" class="logo">
            </div>

            <!-- Navigation bar -->
            <div class="navbar">
                <!-- Navigation links -->
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'home' %}">About</a></li>
                    <li><a href="{% url 'home' %}">How to book ticket?</a></li>
                    <li><a href="{% url 'home' %}">Services</a></li>
                </ul>
            </div>

        
            <div class="passenger-details">
                <h2>Passenger Details</h2>
                <div class="details-section">
                    <p>Name: {{ passenger_details.name }}</p>
                    <p>Contact No: {{ passenger_details.contact }}</p>
                </div>
                <div class="details-section">
                    <p>Seat No (Departure): 
                        {% for seat in seat_numbers %}
                            {{ seat.seat_number }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p>Departure Date: {{ passenger_details.schedule.departure_time.date }}</p>                  
                </div>
                <div class="details-section">
                    <p>Date/Time: {{ passenger_details.schedule.departure_time.time }}</p>              
                    <p>Pickup Point: {{ passenger_details.schedule.route.from_location }} ({{ passenger_details.schedule.departure_time.time }})</p>
                </div>
                <div class="details-section">
                    <p>Dropping Point: {{passenger_details.schedule.route.to_location }}</p>
                </div>
                <div class="divider"></div>
                <div class="details-section">
                    <p>Total Fare: {{total_price }}</p>
                </div>
                <div class="note-section">
                    <p>**** Note if you get a pending message from Bank/Khalti or if your transaction is completed but if you don't get a ticket, then please contact our operator.</p>
                    <p>**** Please ensure that you will be redirected to our website after the payment is done.</p>
                    <p>**** Please note your ticket will be confirmed once payment is received at our end. If you are having a problem with payment, please contact our operator.</p>
                </div>

                <a href="{% url 'home' %}" target="_blank">
                    <div class="khaltilogo">
                        <img src='/media/khalti.jpg' alt="Khalti Logo" class="khaltilogo">
                    </div>
                </a>
            
        </div>
    </div>
</body>

</html>
