<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Document title -->
        <title>Bus Ticket Booking</title>
        
        <!-- Link to external stylesheet -->
        <link rel="stylesheet" href="{% static 'css/seats.css' %}"> 

    </head>
    <body>
        <!-- Main container -->
        <div class="main"></div>
        <div class="logo-container">
            <!-- Logo image -->
            <img src='/static/images/logo.png' alt="Logo" class="logo">
        </div>
        <div class="navbar">
            <!-- Navigation links -->
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'home' %}">About</a></li>
                <li><a href="{% url 'home' %}">How to book ticket?</a></li>
                <li><a href="{% url 'home' %}">Services</a></li>
            </ul>
        </div>
        
        <div class="black-panel1">
          <span id='scheduled' hidden> {{ schedule.id }}</span>
          <span id='route-id' hidden> {{ schedule.route.id }}</span>

          <p class="panel-text p1">SuvaYatra Travels</p>
          <p class="panel-text p2">{{schedule.route.from_location }}-{{schedule.route.to_location }}</p>
          <p class="panel-text p3">Bus Number : {{ schedule.bus.bus_number }}</p>
          <p class="panel-text p4">Date / Time : {{ schedule.departure_time }}</p>
          <p class="panel-text p5">Total Seats : {{ schedule.bus.total_seat }}</p>
          <p class="panel-text p6">Ava. Seats : {{ schedule.available_seats }}</p>
          <p class="panel-text p7">Fare: Rs <span id='seat-price'>{{ schedule.route.price }}</span></p>
      </div>

        <div class="black-panel2">
            <p class="book-seats-text">Select Seats</p>
            <p class="front-text">Front</p>
              <ul class="showcase">
                <li>
                  <div class="seat2"></div>
                  <small>Available</small>
                </li>
                <li>
                  <div class="seat2 selected"></div>
                  <small>Selected</small>
                </li>
                <li>
                  <div class="seat2 reserved"></div>
                  <small>Reserved</small>
                </li>
                <li>
                  <div class="seat2 sold"></div>
                  <small>Sold</small>
                </li>
              </ul>

              <div class="bus-container">
                <div class="column-bus-seat" id="columnA">
                    <h2> A</h2>
                    <div class="row">
                        {% for seat in side_a %}
                        <div class="seat{% if seat.available %} available {% else %}{% if seat.booked %} sold{% else %} not-available{% endif %}{% endif %}" data-seat="{{ seat.id }}">
                          {{ seat.seat_number }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="column-bus-seat" id="columnB">
                    <h2> B</h2>
                    <div class="row">
                        {% for seat in side_b %}
                            <div class="seat{% if seat.available %} available {% else %} not-available{% endif %}{% if seat.booked %} sold{% endif %}" data-seat={{seat.id}}>
                                {{ seat.seat_number }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            
              </p>
              <p class="back-text">Back</p>
              <p id="price" class="price-text">Price: </p>
              <p id="selectedSeat" class="seat-text">Seat: </p>
              <button type="submit" class="next-button" id='save-selected-seat'><span></span>Next</button>
            <!-- Add this script for seat selection -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script>
              document.addEventListener('DOMContentLoaded', function () {
                const seats = document.querySelectorAll('.seat');
                const nextButton = document.querySelector('.next-button');
            
                seats.forEach(seat => {
                  seat.addEventListener('click', function (e) {
                    if (seat.classList.contains('not-available')){
                      alert("Seat is reserved.")
                    }else if(!seat.classList.contains('sold')) {
                      seat.classList.toggle('selected');
                      updateSelectedSeats();
                    }
                  });
                });
            
                nextButton.addEventListener('click', function (event) {
                  const selectedSeats = document.querySelectorAll('.seat.selected');
            
                  // If no seats are selected, prevent form submission
                  if (selectedSeats.length === 0) {
                    event.preventDefault();
                    alert('Please select at least one seat.');
                  } 
                
                });
            
                function updateSelectedSeats() {
                  const selectedSeats = document.querySelectorAll('.seat.selected');
                  const selectedSeatsCount = selectedSeats.length;
                  const pricePerSeat = parseInt(document.getElementById('seat-price').innerText);
                  const totalPrice = selectedSeatsCount * pricePerSeat;
            
                  // Create an array to store the selected seat numbers
                  const selectedSeatNumbers = [];
            
                  // Iterate through selected seats and extract seat numbers
                  selectedSeats.forEach(seat => {
                    const seatNumber = seat.innerText.trim();
                    selectedSeatNumbers.push(seatNumber);
                  });            
                  // Update the display with selected seat numbers
                  document.getElementById('selectedSeat').innerText = `Seat: ${selectedSeatsCount > 0 ? selectedSeatNumbers.join(', ') : 'None'}`;
                  document.getElementById('price').innerText = `Price: Rs ${totalPrice}/`;
                }


               // to save selected Seat
               document.getElementById('save-selected-seat').addEventListener('click',()=>{
                  const selectedSeats = document.querySelectorAll('.seat.selected');
                  const selectedSeatNumbersBackend = {
                    scheduled_id:parseInt(document.getElementById('scheduled').innerText),
                    selected_seat:[]
                  };
            
                  // Iterate through selected seats and extract seat numbers
                  selectedSeats.forEach(seat => {
                    selectedSeatNumbersBackend['selected_seat'].push(
                      parseInt(seat.getAttribute('data-seat'))
                    )
                  });
                  if (selectedSeatNumbersBackend['selected_seat'].length<=0){
                    alert('select at least one seat.')
                  }else{
                    console.log('ajax requested.')
                    console.log(selectedSeatNumbersBackend)

                    $.ajax({
                      type: 'POST',
                      url: '/backend/details/',  // Replace with your actual URL
                      data: JSON.stringify(selectedSeatNumbersBackend),
                      contentType: 'application/json',
                      success: function(response) {

                        const reserved_seat = response.data
                        const scheduled_id = response.scheduled_id
                      
                        // Redirect to the next page after selecting seats
                      const route_id = parseInt(document.getElementById('route-id').innerText);
                      window.location.href = `/backend/passenger-details/${route_id}/?seats=${reserved_seat}&scheduled_id=${scheduled_id}`;

                  
                          // Handle the successful response
                      },
                      error: function(error) {
                          console.error(error);
                          // Handle the error
                      }
                  });
                  }
               })
              });
            </script>
            
            

    </body>
</html>
